:root {
  --content-font: 'Poppins', sans-serif;
  --footer-font: 'Montserrat', sans-serif;

  /* Spacing | Global */
  --space-unit: 1em;
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.7 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3 * var(--space-unit));

  /* Font Sizes | Global */
  --text-xl: 48px;
  --text-lg: 36px;
  --text-md: 24px;
  --text-sm: 18px;
  --text-xs: 14px;

  /* Colors | Global */
  --white-primary: #FFFFFF;
  --white-secondary: #F2F2F2;
  --dark-blue: #1D355D;
  --light-blue: rgba(96, 102, 208, 0.8);
  --orange: #F9A826;
  --green: #60BF88;
  --red: #EA8282;
}

.material-icons {
  font-size: 20px;
  color: var(--white-secondary);
}

.App {
  font-family: var(--content-font);
  background: url(assets/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}