:root {
  --content-font: 'Poppins', sans-serif;
  --footer-font: 'Montserrat', sans-serif;

  /* Spacing | Global */
  --space-unit: 1em;
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.7 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3 * var(--space-unit));

  /* Font Sizes | Global */
  --text-xl: 48px;
  --text-lg: 36px;
  --text-md: 24px;
  --text-sm: 18px;
  --text-xs: 14px;

  /* Colors | Global */
  --white-primary: #FFFFFF;
  --white-secondary: #F2F2F2;
  --blue: #2F527B;
  --dark-blue: #1D355D;
  --light-blue: rgba(96, 102, 208, 0.8);
  --orange: #F9A826;
  --green: #60BF88;
  --red: #EA8282;
}

.material-icons {
  font-size: 24px;
  color: var(--white-secondary);
}

.App {
  font-family: var(--content-font);
  background: url(assets/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: var(--space-xl);
}

.App .quiz {
  align-self: center;
}

.App .footer {
  margin-top: calc(1.5 * var(--space-xl));
}

@media screen and (max-width: 500px) {
  :root {
    /* Spacing | Global */
    --space-sm: var(--space-xs);
    --space-md: calc(1.10 * var(--space-unit));
    --space-xl: var(--space-lg);

    /* Font Sizes | Global */
    --text-xl: 36px;
    --text-lg: 24px;
    --text-md: 18px;
    --text-sm: 16px;
  }

  .App {
    padding: var(--space-lg) var(--space-sm) var(--space-sm);
  }
}