.quiz-container {
	display: block;
	width: 470px;
}

.quiz-container__label {
	align-self: flex-start;
	font-weight: 700;
	font-size: var(--text-lg);
	text-transform: uppercase;
	color: var(--white-secondary);
	margin-bottom: 0;
	margin-bottom: calc(var(--space-xs) * 0.5);
}

.quiz-container__wrapper {
	position: relative;
	width: 100%;
	min-height: 500px;
	background: var(--white-primary);
	border-radius: 24px;
}

.quiz-container__logo {
	position: absolute;
	top: -75px;
	right: 0;
}